<div class="row">
  <div class="col-lg-6 mx-auto">
    <div class="card mt-4 ">
      <h4 class="p-2 text-light" [ngClass]="{
          'bg-info': myForm.invalid,
          'bg-success': myForm.valid
        }">
        Sign Up
      </h4>
      <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="SignUp()">
          
            <div class="form-group">
              <label for="emailSignUp">Email address</label>
              <input type="text" class="form-control" id="emailSignUp" placeholder="Enter email" formControlName="email"
                name="email" [ngClass]="{
                  'is-valid': myForm.get('email').valid,
                  'is-invalid': myForm.get('email').invalid && myForm.get('email').touched}
                ">
              <div *ngIf="myForm.get('email').invalid && myForm.get('email').touched" class="invalid-feedback">Please choose a
                email.</div>
              <div *ngIf="myForm.get('email').valid" class="valid-feedback">We'll never share your email with anyone else.
              </div>
            </div>
          
            <div class="form-group">
              <label for="passwordSignUp">Password</label>
              <input type="password" class="form-control" [ngClass]="{
                  'is-valid': myForm.get('password').valid,
                  'is-invalid': myForm.get('password').invalid && myForm.get('password').touched
                }" id="passwordSignUp" placeholder="Password" formControlName="password"
                aria-describedby="passwordHelpBlock">
              <small *ngIf="myForm.get('password').invalid && myForm.get('password').untouched " id="passwordHelpBlock"
                class="form-text text-muted">
                At least 6 characters and numbers, upper and lower case are required.
              </small>
              <div *ngIf="myForm.get('password').invalid && myForm.get('password').touched " id="passwordHelpBlock"
                class="invalid-feedback">
                At least 6 characters and numbers, upper and lower case are required.
              </div>
              <div *ngIf="myForm.get('password').getError('required')" class="invalid-feedback">
                Please enter a password.
              </div>
              <div *ngIf="myForm.get('password').getError('minlength')" class="invalid-feedback">
                Min lenght 6 symbols.
              </div>
              <div *ngIf="myForm.get('password').valid" class="valid-feedback">Try not to lose your password.</div>
            </div>
            <div class="form-group">
              <label for="ConfirmPasswordSignUp">Confirm Password:</label>
              <input type="password" class="form-control" id="ConfirmPasswordSignUp" [ngClass]="{
                  'is-valid': !myForm.errors?.misMatch && myForm.get('password').valid,
                  'is-invalid': myForm.get('confirmPassword').invalid && myForm.get('confirmPassword').touched || myForm.get('password').invalid && myForm.get('password').touched || myForm.errors?.misMatch && myForm.get('confirmPassword').touched
                }" placeholder="Password" formControlName="confirmPassword">
              <small *ngIf="myForm.get('password').touched && !myForm.get('password').invalid && myForm.errors?.misMatch"
                class="form-text text-muted">Confirm password please.</small>
              <div *ngIf="myForm.get('confirmPassword').valid && !myForm.errors?.misMatch" class="valid-feedback">Confirmed!
              </div>
            </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="checkBoxRules" formControlName="rules"
              [class.is-valid]="myForm.get('rules').valid">
            <label class="form-check-label" for="checkBoxRules">
              I have <a [routerLink]="['/signup']">read the rules</a> of the site and agree with them!
            </label>
          </div>
          <button [disabled]="myForm.invalid" type="submit" class="btn" [ngClass]="{
              'btn-primary': myForm.invalid,
              'btn-success': myForm.valid
            }">
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
